*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 0%, rgba(9,109,121,1) 35%, rgba(2,187,222,1) 84%);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
}
h3{
    font-family: sans-serif;
    text-align: center;
    color: #fff;
}
p{
    font-family: sans-serif;
    text-align: center;
    color: #fff;
}

#reloadBtn {
    border: 2px solid rgb(24, 78, 94);
    margin-top: 10px;
    font-family: sans-serif;
    background-color: #fff;
    color: #1473c0;
    border: none;
    border-radius: 5px;
    padding: 6px 20px;
    cursor: pointer;
    font-size: 16px;
  }
  
.container {
  display: flex;
  flex-wrap: wrap;
  width: 480px;
  perspective: 1000px;

}

.card{
    border: 2px solid rgb(24, 78, 94);
    border-radius:5px;
    cursor: pointer;
    position: relative;
    margin: 10px;
    height: 100px;
    width: 100px;
    transform-style:preserve-3d ;
    transform: rotateX(180deg);
    transition: transform 0.4s linear;
}

 .front,.back{
    background-color: #fff;
    backface-visibility: hidden;
    display: flex;
    align-items:center;
    justify-content: center;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.front{
  z-index: 2;
  transform: rotateY(0deg);
}
.back{
    transform: rotateY(180px);
}

.card i{
    font-style: 30px;
}
 .show{
    transform: rotateY(0deg);
}